module.exports = {
  apps: [
    {
      name: "client",
      script: "npm",
      args: "run serve",
      cwd: "./web",
      watch: true,
      ignore_watch: ["node_modules"],
    },
    {
      name: "server",
      script: "npm",
      args: "start",
      cwd: "./server",
      watch: true,
      ignore_watch: ["node_modules"],
    },
  ],
};
